{% extends 'base.html' %}
{%  load humanize %}
{% block content %}
    <!-- Team Section Start -->
    <header class="masthead2 bg-primary text-white">
        <h2 class="page-section-heading text-uppercase mb-0 text-center">Lista de adoção</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <form method = "get" action = "" >
            <div class="rowlist row g-0">
                {% csrf_token %}
                    <div class="col-lg-6 order-lg-2"></div>
                    <div class="col-lg-4 order-lg-2">
                      <input class="form-control" name="src" type="text" placeholder="Digite sua pesquisa aqui. Apenas uma palavra que pode ser uma raça, cidade ou entidade..." value = "" >
                     </div>
                    <div class="col-lg-1 order-lg-2">
                       <button type="submit" class="btn btn-warning">Pesquisar</button></span>
                    </div>
           </div>
        </form>

        <div class="d-flex align-items-center flex-column">
            {% for a in page_obj %}
                <div class="rowlist row g-0">
                    <div class="col-lg-6 {% if forloop.counter|divisibleby:"2" %} order-lg-2 {% endif %} text-white showcase-img">
                        <img class="cover" src="{{ a.imagem_small }}" alt="{{ a.nome }}">
                    </div>
                    <div class="text-center masthead-subheading div-img col-lg-6 order-lg-1 my-auto showcase-text">
                        <h3>{{ a.nome }}</h3>
                        <p><b>Raça: </b>{{ a.raca }}</p>
                        <p><b>Idade: </b>{{ a.idade }}</p>
                        <p><b>Entidade: </b>{{ a.entidade.nome }}</p>
                        <p><b>Cidade: </b>{{ a.entidade.cidade }}-{{ a.entidade.uf }}</p>
                        <b><u>Contatos:</u></b>
                            <br /><b>E-mail: </b> {% if a.entidade.email and a.entidade.email.trip %} Não informado {% else %} {{ a.entidade.email }} {% endif %}
                            <br /><b>Site: </b> {% if a.entidade.site and a.entidade.site.trip %} Não informado {% else %} {{ a.entidade.site }} {% endif %}
                            <br /><b>Fone: </b> {% if a.entidade.fone and a.entidade.fone.trip %} Não informado {% else %} {{ a.entidade.fone }} {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        {% include 'paginacao.html' %}
    </header>
    <!-- Team Section End -->
{% endblock %}
