{% extends 'base.html' %}
{%  load humanize %}
{% block content %}
    <header class="masthead bg-primary text-white">
    <div class="row">
        <h3>Entidades</h3>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entidade in page_obj %}
                        <tr>
                            <td>{{ entidade.id }}</td>
                            <td>{{ entidade.nome }}</td>
                            <td>{{ entidade.email }}</td>
                            <td>
                                <a class="btn btn-warning" href="{% url 'upd_entidade' entidade.pk %}">Editar</a>
                                <a class="btn btn-danger" href="{% url 'del_entidade' entidade.pk %}">Deletar</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include 'paginacao.html' %}

        </div>
    </div>
    </header>
{% endblock %}